Repository mellium/communique-tui: changes, and which Woodpecker steps are due for each by the changed paths.
All: validate, lint, markdown

validate:
  steps:
    info:
      image: golang:alpine
      environment:
        GO111MODULE: 'on'
        CGO_ENABLED: '0'
      commands:
      - go version
      - go env
    lint:
      image: golang:alpine
      environment:
        GO111MODULE: 'on'
        CGO_ENABLED: '0'
      commands:
  ...

lint:
  image: golang:alpine
  environment:
    GO111MODULE: 'on'
    CGO_ENABLED: '0'
  commands:
  - go install honnef.co/go/tools/cmd/staticcheck@latest
  - go install github.com/securego/gosec/v2/cmd/gosec@latest
  - go install mellium.im/checkdoc@latest
  - export PATH=$(go env GOPATH)/bin:$PATH
  - go vet ./...
  ...

markdown:
  image: golang:alpine
  environment:
    GO111MODULE: 'on'
    CGO_ENABLED: '0'
  commands:
  - go install mellium.im/checkmd@latest
  - export PATH=$(go env GOPATH)/bin:$PATH
  - checkmd .

.woodpecker: fail CI if translations need updating
  .woodpecker/validate.yml
Due: none

.woodpecker: don't run tests unless code changed
  .woodpecker/test.yml
Due: none

internal/ui: simplify keyboard shortcut handling
  internal/ui/chats.go
  internal/ui/sidebar.go
Due: validate, lint

.woodpecker: fix catalog generation
  .woodpecker/validate.yml
Due: none

internal/storage: fix panic in error wrapping
  internal/storage/db.go
Due: validate, lint

communique: clean up UI before printing panic
  client_handler.go
  main.go
  panic_handler.go
Due: validate, lint

.woodpecker: only test against latest Go
  .woodpecker/test.yml
Due: none

internal/ui: add built-in default file picker
  communiqué.toml.example
  go.mod
  go.sum
  internal/ui/chats.go
  internal/ui/ui.go
Due: validate, lint

locales: generate translations
  catalog.go
  locales/de/out.gotext.json
  locales/en-US/out.gotext.json
Due: validate, lint

all: gitignore all html files
  .gitignore
Due: none

all: release v0.0.1
  CHANGELOG.md
Due: validate, markdown

communiqué: add all new chats to recent chats view
  CHANGELOG.md
  history.go
Due: validate, lint, markdown

all: set application ID in database files
  .gitignore
  .woodpecker/validate.yml
  Makefile
  magic.txt
  schema.sql
Due: none

all: split client and ui event packages
  internal/client/event/event.go
  internal/ui/chats.go
  internal/ui/event/event.go
  internal/ui/ui.go
  ui_handler.go
Due: validate, lint

internal/ui: support text area fields in forms
  CHANGELOG.md
  internal/ui/ui.go
Due: validate, lint, markdown

internal/ui: fix list selection on forms
  CHANGELOG.md
  internal/ui/ui.go
Due: validate, lint, markdown

locales: extract translation strings from code
  catalog.go
  locales/de/out.gotext.json
  locales/en-US/out.gotext.json
Due: validate, lint

communiqué: log to stderr until UI is ready
  catalog.go
  locales/de/out.gotext.json
  locales/en-US/out.gotext.json
  main.go
Due: validate, lint

Translated using Weblate (German)
  locales/de/messages.gotext.json
Due: none

all: add title fallback for data forms
  catalog.go
  cmd.go
  internal/ui/ui.go
  locales/de/out.gotext.json
  locales/en-US/out.gotext.json
Due: validate, lint

communiqué: use CLI subcommands for config file
  config.go
  go.mod
  go.sum
  main.go
Due: validate, lint

communiqué: add an about command
  about.go
  main.go
Due: validate, lint

locales: generate local strings
  catalog.go
  locales/de/out.gotext.json
  locales/en-US/out.gotext.json
Due: validate, lint

all: bump deps and cleanup go.mod file
  go.mod
  go.sum
Due: validate, lint

all: add database migrations script
  catalog.go
  go.mod
  internal/storage/db.go
  internal/storage/migration.go
  internal/storage/migration_test.go
  locales/de/out.gotext.json
  locales/en-US/out.gotext.json
  main.go
  migrations.go
Due: validate, lint

Path conditions:
  validate: any of: **/*.go, go.mod, go.sum, **/*.md
  lint: (any of: **/*.go, go.mod, go.sum, **/*.md) and (any of: **/*.go, go.mod, go.sum)
  markdown: (any of: **/*.go, go.mod, go.sum, **/*.md) and (any of: **/*.md)
